<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Expense Analyzer</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/expense-overview" routerLinkActive="active">Expenses</a></li>
        <li><a routerLink="/counterpart-overview" routerLinkActive="active">Counterparts</a></li>
        <li><a routerLink="/recurring-payments" routerLinkActive="active">Recurring payments</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-togger" role="button">to be decided<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">to be decided</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
