table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  text-align: left;
}

th, td {
  padding: 0px 15px 0px 15px !important;
  text-align: left;
}

tr.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
