<div class="example-container mat-elevation-z8">
  <h2>Recurring</h2>

  <div class="example-table-container" *ngIf="reportDatasource">
    <!-- PURE CSS LOADING ICON -->
    <mat-card>
      <!-- ANGULAR MATERIAL TABLE -->
      <table mat-table [dataSource]="reportDatasource" matSort class="example-table">

        <ng-container matColumnDef="month">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Month</th>
          <td mat-cell *matCellDef="let monthExpense">{{monthExpense.activeMonth}}</td>
        </ng-container>

        <ng-container matColumnDef="expenses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Expense</th>
          <td mat-cell *matCellDef="let monthExpense">
            <table>
              <thead>
              <tr>
                <th>date</th>
                <th>counter part</th>
                <th>amount</th>
                <th>statement</th>
              </tr>
              </thead>
              <tbody>
            <!--<div *ngFor="let expense of monthExpense.expenses">-->

            <!--  <span>{{expense.counterPartAccount}}</span>
              <span>{{expense.counterPartName}}</span>
              <span>{{expense.amount}}</span>
              <span>{{expense.statement}}</span>-->


              <tr *ngFor="let expense of monthExpense.expenses">
              <td>{{expense.date}}</td>
              <td>{{expense.counterPartName}}</td>
              <td>{{expense.amount}}</td>
              <td>{{expense.statement}}</td>
              </tr>
              </tbody>
            </table>
            <!--</div>-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </mat-card>
  </div>
</div>
