<!--&lt;!&ndash;-->
<!--<div class="row">-->
<!--  <div class="col-md-12">-->
<!--    <h3>Counterparts</h3>-->
<!--  </div>-->
<!--</div>-->
<!--<br/>-->
<!--<mat-card>-->
<!--  <table [dataSource]="reportDatasource" mat-table matSort>-->
<!--    <ng-container matColumnDef="counterpart">-->
<!--      <th *matHeaderCellDef mat-header-cell mat-sort-header>Counter part</th>-->
<!--      <td *matCellDef="let counterpart" mat-cell> {{getCounterPartName(counterpart)}}</td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="amount">-->
<!--      <th *matHeaderCellDef mat-header-cell mat-sort-header>Amount</th>-->
<!--      <td *matCellDef="let counterpart" mat-cell> {{getAmount(counterpart)}}</td>-->
<!--    </ng-container>-->
<!--    <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>-->
<!--    <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row>-->
<!--    </tr>-->
<!--  </table>-->
<!--  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>-->
<!--</mat-card>-->
<!--&ndash;&gt;-->


<!--<div class="example-container mat-elevation-z8">-->
<!--  <h2>counterparts</h2>-->

<!--  <div class="example-table-container" *ngIf="counterpartsDataSource">-->
<!--    &lt;!&ndash; PURE CSS LOADING ICON &ndash;&gt;-->
<!--    <mat-card>-->
<!--      &lt;!&ndash; ANGULAR MATERIAL TABLE &ndash;&gt;-->
<!--      <table mat-table [dataSource]="counterpartsDataSource" matSort class="example-table">-->
<!--        &lt;!&ndash; counterpart ID Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="name">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>-->
<!--          <td mat-cell *matCellDef="let counterpart">{{counterpart.name}}</td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; counterpart Name Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="accountNumber">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header>AccountNumber</th>-->
<!--          <td mat-cell *matCellDef="let counterpart">{{counterpart.accountNumber}}</td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="ownAccount">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header>own account ?</th>-->
<!--          <td mat-cell *matCellDef="let counterpart">-->
<!--            <mat-checkbox [checked]="counterpart.ownAccount"> &lt;!&ndash;(click)="$event.stopPropagation()"&ndash;&gt;-->
<!--              &lt;!&ndash;(change)="$event ? selection.toggle(row) : null"&ndash;&gt;-->

<!--            </mat-checkbox>-->
<!--          </td>-->
<!--          &lt;!&ndash; <td mat-checkbox *matCellDef="let counterpart">{{counterpart.ownAccount}}</td>&ndash;&gt;-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; counterpart Name Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="recurringCounterPart">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header>recurring ?</th>-->
<!--          <td mat-cell *matCellDef="let counterpart">-->
<!--            <mat-checkbox [checked]="counterpart.recurringCounterPart"> &lt;!&ndash;(click)="$event.stopPropagation()"&ndash;&gt;-->
<!--              &lt;!&ndash;(change)="$event ? selection.toggle(row) : null"&ndash;&gt;-->

<!--            </mat-checkbox>-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; counterpart Price Column &ndash;&gt;-->
<!--        &lt;!&ndash;<ng-container matColumnDef="price">-->
<!--          <th mat-header-cell *matHeaderCellDef>Price</th>-->
<!--          <td mat-cell *matCellDef="let counterpart">{{counterpart.price}}</td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; counterpart Rating Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="rating">-->
<!--          <th mat-header-cell *matHeaderCellDef>Rating</th>-->
<!--          <td mat-cell *matCellDef="let counterpart">{{counterpart.rating}}</td>-->
<!--        </ng-container>-->
<!--  &ndash;&gt;-->
<!--        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>-->
<!--      </table>-->
<!--      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--  &lt;!&ndash;<mat-paginator [length]="1000" [pageSize]="10"></mat-paginator>&ndash;&gt;-->
<!--</div>-->
