<!--
<span>
    <a routerLink="/expenses-list" routerLinkActive="active">Expenses</a>
    <a routerLink="/counterpart-list" routerLinkActive="active">Counter Parts</a>
  <br/>
  <br/>

  sdfsdfs;ldfjslkdfs
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</span>
-->


<!--<main-nav>
  <list-expenses2></list-expenses2>
</main-nav>-->

<h1>Angular Router</h1>
<nav>
  <a routerLink="/list-expenses" routerLinkActive="active">List expenses</a>
  <a routerLink="/counterpart-overview" routerLinkActive="active">Counterparts</a>
  <a routerLink="/recurring-payments" routerLinkActive="active">Recurring payments</a>
</nav>
    <router-outlet></router-outlet>

